:root{
    --bcg-color: #001122;
    --primary-color: #155e75;
    --border-radius: 8px;
    --secondary-color: #fff;
    --border-color: #7fb7c9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    padding: 5%;
    background-color: blanchedalmond;
    height: 400px;
    width: 400px;
}


.qr-body{
    margin:5%;
}